{% extends "layout.html" %}

{% block title %}
    Finantial Status
{% endblock %}

{% block main %}

    <!-- Current finantial status diplaying in a chart (Chart.js) -->
    <div class="card text-center shadow-sm rounded-0">
        <h3 class="card-header rounded-0">Finantial Status {{ current_year }}</h3>
        <div class="card-body">
            <canvas id="myChart" role="img" aria-label="Chart displaying current finantial status"></canvas>
        </div>
    </div>

    <br>

    <!-- Current finantial status displaying in a table -->
    <!-- Define a card to contain the information -->
    <div class="card text-center shadow-sm rounded-0">
        <h3 class="card-header rounded-0">Finantial Status</h3>
        <div class="card-body">

            <!-- Define a table for the numerals -->
            <table class="table table-striped table-sm">
                <thead>
                    <h4 class="text-left">YEAR : {{ current_year }}</h4>
                    <tr>
                        <th>Month</th>
                        <th>Income</th>
                        <th>Expenses</th>
                        <th>Balance</th>
                        <th>Savings</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="1">ACCUMULATED</td>
                        <td>{{ income_total | euro }}</td>
                        <td>{{ expense_total | euro }}</td>
                        <td>{{ (income_total - expense_total) | euro }}</td>
                        <td>{{ savings_total | euro }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for income in inc_exp_month %}
                    <tr>
                        <td>{{ income.month }}</td>
                        <td>{{ income.paycheck | euro }}</td>
                        <td>{{ income.partial | euro}}</td>
                        <td>
                            {% if (income.paycheck - income.partial) < 0 -%}
                            <div class="text-danger">
                            {%- else -%}
                            <div class="text-success">
                            {%- endif %}
                                {{ (income.paycheck - income.partial) | euro}}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- Chart.js script -->
    <script type="text/javascript">
        // Builds a chart using Chart.js
        // Define the chart data and it's display attributes
        var chartData = {
                labels: [{% for i in inc_exp_month %}"{{ i.month }}",{% endfor %}],
                datasets: [{
                    label: 'Income',
                    data: [{% for i in inc_exp_month %}{{ i.paycheck | decimal }},{% endfor %}],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },{
                    label: 'Expenses',
                    data: [{% for i in inc_exp_month %}{{ i.partial | decimal }},{% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },{ 
                    label: 'Cash Available',
                    data: [{% for i in accu_balance %}{{ i | decimal }},{% endfor %}],
                    type: 'line',
                    fill: 'false'
                },{
                    label: 'Savings',
                    data: [{% for i in savings_accu %}{{ i | decimal }},{% endfor %}],
                    type: 'line',
                    fill: 'false'
                }]
            };

        // 'Bar' chart options
        var chartOptions = {
            scales: {
                XAxes: [{
                    barPercentage: 0.4,
                    categoryPercentage: 0.5
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
            title: {
                display: true,
                position: 'bottom',
                text: 'click on the bar for details'
            }
        };

        // Get the chart canvas
        var ctx = document.getElementById('myChart');

        // Create chart using the chart canvas
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    </script>

    <!-- Render a new page -'index_detail.html'- with detailed information -->
    <script type="text/javascript">
        /* Returns a chart.js 'doughnut' chart in a new html page with detailed
        information related to the 'bar' clicked by the user*/
        ctx.onclick = function(evt) {
            var details = myChart.getElementAtEvent(evt)[0];
            if (details) {
                var label = myChart.data.labels[details._index];
                //var value = myChart.data.datasets[details._datasetIndex].data[details._index]
                var datalabel = details._model.datasetLabel; 
            }

            /* jquery using post method a sqlite3 database with this 'label' or
                this 'type' and have flask render a new page with treated data*/
            $.post('/', {"month": label, "type": datalabel}, function(response){
                // this is not good (need to find better way)
                document.write(response);
            })
            // check correct values on the console(debug)
            console.log(label, datalabel, details);
        };
    </script>

{% endblock %}
