{% extends "layout.html" %}

{% block title %}
    Income
{% endblock %}

{% block main %}

    <!-- Current finantial income status diplaying in a chart (Chart.js) -->
    <div class="card text-center shadow-sm rounded-0">
        <h3 class="card-header rounded-0">My Income Status {{ selected_year }}</h3>
        <div class="card-body">
            <canvas id="myChart" role="img" aria-label="Chart displaying current finantial status"></canvas>
        </div>
    </div>

    <br>

    <!-- Current finantial income status -->
    <!-- Define a card to contain the information -->
    <div class="card text-center shadow-sm rounded-0">
        <h3 class="card-header rounded-0">My Earned Money {{ selected_year }}</h3>
        <div class="card-body">

            <!-- Define a table for the numerals -->
            <table class="table table-striped table-sm">
                <thead>
                    <h4 class="text-left">YEAR : {{ selected_year }}</h4>
                    <tr>
                        <th>Month</th>
                        <th>Salary</th>
                        <th>Subsidy</th>
                        <th>Extra</th>
                        <th>TOTALS</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="1">ACCUMULATED</td>
                        <td>{{ total_salary | euro }}</td>
                        <td>{{ total_subsidy | euro }}</td>
                        <td>{{ total_extra | euro }}</td>
                        <td>{{ grandtotal | euro }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in income %}
                    <tr>
                        <td>{{ item.month }}</td>
                        <td>{{ item.salary | euro }}</td>
                        <td>{{ item.subsidy | euro }}</td>
                        <td>{{ item.extra | euro }}</td>
                        <td>{{ item.paycheck | euro }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- My income Chart.js script -->
    <script type="text/javascript">
        // Builds a chart using Chart.js
        // Define the chart data
        var chartData = {
                labels: [{% for i in income %}"{{ i.month }}",{% endfor %}],
                datasets: [{
                    label: 'Salary',
                    data: [{% for i in income %}{{ i.salary }},{% endfor %}]
                },{
                    label: 'Subsidy',
                    data: [{% for i in income %}{{ i.subsidy }},{% endfor %}]
                },{ label: 'Extra',
                    data: [{% for i in income %}{{ i.extra }},{% endfor %}]
                },{ label: 'Total',
                    data: [{% for i in income %}{{ i.paycheck }},{% endfor %}],
                    type: 'line',
                    fill: 'false'
                }]
            };

        // 'Bar' chart options
        var chartOptions = {
            scales: {
                XAxes: [{
                    barPercentage: 0.4,
                    categoryPercentage: 0.5
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
            title: {
                display: true,
                position: 'bottom',
                text: ''
            },
            plugins: {
                colorschemes: {
                    scheme: 'brewer.PastelOne4'
                }
            }
        };

        // Get the chart canvas
        var ctx = document.getElementById('myChart');

        // Create chart using the chart canvas
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    </script>

{% endblock %}
